<h1>Euphony</h1>
<p>a music theme generator</p>
<p>How are you feeling today?</p>
<button type="button" class="btn btn-secondary">Happy</button>

<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Enter a song you like to listen to when you feel this way:") %>
  <%= text_field_tag(:field) %>
  <%= submit_tag("Search") %>
<% end %>
