@import "bootstrap";

body {
  background-color: rgba(255, 0, 0, 0.6);;
}
.euphony {
  padding: 5px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 45px;
  font-family: 'Trattatello', 'fantasy';
}

.mood {
  color: #000;
  text-align: center;
  padding-top: 20px;
  font-weight: bold;
  font-size: 25px;
  font-family: 'Helvetica Neue', sans-serif;
}

.mood, p {
  font-weight: bold;
  color: #000;
  font-size: 25px;
  font-family: 'Helvetica Neue', sans-serif;
}

.song {
  color: #000;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  font-family: 'Helvetica Neue', sans-serif;
  padding: 45px;
}

.navbar {
  background-color: white ! important;
}

.nav-link {
  color: black ! important;
}

.nav-link:hover {
  color: rgba(255, 0, 0, 0.6) ! important;
}

.nav-item:active {
  color: rgba(255, 0, 0, 0.6) ! important;
}
